[Unit]
Description=Mount unit for core, revision 8935
Before=snapd.service

[Mount]
What=/var/lib/snapd/snaps/core_8935.snap
Where=/snap/core/8935
Type=squashfs
Options=nodev,ro,x-gdu.hide
LazyUnmount=yes

[Install]
WantedBy=multi-user.target
